/*General---------------------------------------------------------------*/
body {
    text-align: center;
}

.homePage {
    height: 100vh;
}

.blackScreen {
    background-color: black;
}

.greenScreen {
    background-color: #42a85c;
}

/*Screen1---------------------------------------------------------------*/
h1 {
    padding-top: 17%;
    color: black;
    font-size: 120px;
    font-family: 'Raleway', sans-serif;
}

#mainText {
    color: black;
    margin: 0;
    margin-top: 1%;
    font-family: 'Open Sans', sans-serif;
}

/*Screen2---------------------------------------------------------------*/
#introText1 {
    color: white;
    margin: 0;
    padding-top: 5%;
    padding-left: 18%;
    padding-right: 16%;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
}

/*Screen3---------------------------------------------------------------*/
.tableInfo {
    margin: auto;
    margin-top: 12%;
    height: 300px;
}

.colInfo h2 {
    color: black;
    padding-left: 12%;
    padding-right: 12%;
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
}

.colInfo p{
    color: #232424;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

#midInfo {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

hr {
    border: 1px solid black;
    width: 20px;
}

/*Screen4---------------------------------------------------------------*/
#introText2 {
    color: white;
    margin: 0;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 10%;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
}

/*Screen6---------------------------------------------------------------*/
#introText3 {
    color: white;
    margin: 0;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
}

/*Screen7---------------------------------------------------------------*/
#column1 {
       float: left;
       width: 47%;
}

#column2 {
       float: left;
       width: 53%;
}

#gearIntro {
    color: black;
    text-align: left;
    margin: 0;
    padding-left: 25%;
    padding-right: 10%;
    font-size: 78px;
    font-family: 'Raleway', sans-serif;
}

#specialWord {
    color: #624ED4;
}

#gearIntroImg {
    padding-top: 0%;
    width: 70%;
    margin: 0;
}

/*Screen8---------------------------------------------------------------*/
#colGear1 {
   float: left;
   width: 28%;
}

#colGear1 img{
    width: 140%;
    margin-left: -100%;
}


#colGear2 {
   float: left;
   width: 33%;
}

#colGear3 {
    float: left;
    width: 33%;
}


.tableCatalogue{
    border-left: 1px solid black;
    margin: auto;
    margin-top: 7%;
    margin-right: 15%;
    width: 700px;
}

.gearTitle {
    padding-right: 20%;
    color: black;
    font-size: 120px;
    font-family: 'Raleway', sans-serif;
}

.gearText {
    padding-right: 15%;
    padding-left: 7%;
    padding-bottom: 6%;
    text-align: left;
    color: black;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

.buttonMore {
    background-color: #222324;
    border: 3px solid black;
    color: white;
    margin-left: 30%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

#colGear3 div {
    float: left;
    width: 100%;
}

.fa-angle-up{
    padding-left: 20%;
    padding-top: 30%;
    padding-bottom: 10%;
    color: black;
    font-size: 100px;
}

.fa-angle-down{
    padding-left: 20%;
    padding-top: 10%;
    color: black;
    font-size: 100px;
}

.gearButtons {
    background: none;
    border: none;
}

/*Screen9---------------------------------------------------------------*/
.infoScreen {
    height: 300px;
}

.infoScreen a:hover{
    text-decoration: none;
    color: white;
}

#infoTitle {
    margin-bottom: 5px;
    color: white;
    padding-top: 20px;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}

.infoScreen p {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.socialButton {
    margin-top: 30px;
    color: white;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    background: none;
    border: none;
}

#contactButton {
    background-color: white;
    border: 3px solid white;
    color: black;
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

#contactButton a:hover {
    text-decoration: underline;
}